[Unit]
Description="Desscrição"
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /slaporra/init.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
